.header{
    background-image:url("../images/bg_banner.jpg");
    background-size: cover;
    margin-bottom: 50px;
}
.navbarSection{
    width: 100%;
    padding: 0px;
}
.sub_title{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
}